name: CI Build
on:
  push:
    branches:
      - master
  pull_request:
env:
  EM_VERSION: 3.1.44
jobs:
  Build_Package:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        with:
          submodules: true
      - name: Show file
        run: find .
      - name: Setup Emcripten
        uses: mymindstorm/setup-emsdk@v12
        with:
          version: ${{ env.EM_VERSION }}
      - name: Install npm packages
        run: npm ci
      - name: Build the library
        run: npm run build
      - name: Test
        run: npm run test
